   body{
     background-image: url("https://wallpaperaccess.com/full/780564.jpg");
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     width: 100%;
     height: 100vh;
     position: relative;
      }

      header{
        width: 100%;
        position: absolute;
        top: 50%;
        left:50%;
        transform: translate(-50%,-50%);

      }